<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="referrer" content="never" charset="UTF-8">
    <title>分享获取永久权限</title>
    <link rel="stylesheet" href="http://www.jeffrey2971.top/css/share.css" th:href="@{/css/share.css}" />
</head>
<body>
<table>
    <tr>
        <td><p></p></td>
    </tr>
    <tr>
        <td><p></p></td>
    </tr>
    <tr>
        <td><p></p></td>
    </tr>
    <tr>
        <th id="t1">保存以下二维码并分享给好友或朋友圈即可噢</th>
    </tr>
    <tr>
        <td><p></p></td>
    </tr>
    <tr>
        <th class="t2">有三位或以上的好友通过以下维码关注即可获取永久使用权</th>
    </tr>
    <tr>
        <td><p></p></td>
    </tr>
    <tr>
        <th class="t2">目前已有：[[${count}]] 位</th>
    </tr>
    <tr>
        <td><p></p></td>
    </tr>
    <tr>
        <td><p></p></td>
    </tr>
    <tr></tr>
    <tr></tr>
    <tr>
        <td><img src="/image/account.jpg" th:src="${shareImg}" alt="这里的照片去哪了"></td>
    </tr>
</table>
</body>
</html>